@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    position: relative;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

/*.....header.....*/
header {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    justify-content: space-between;
}

nav {
    padding: 30px;
}

.contact_information {
    padding-top: 30px;
    padding-right: 30px;
}

nav>ul>li {
    display: inline-block;
    padding-left: 20px;
}

nav>ul>li>a {
    font-size: 20px;
    color: white;
    text-align: center;
}

nav>ul>li:last-of-type {
    padding-right: 0;
}

nav>ul>li.active>a::before {
    display: block;
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    background-color: #ffb531;
    bottom: -8px;
    left: -25px;
    margin-left: 50%;
}

div>ul>li {
    display: inline-block;
}

div>ul>li>a {
    color: black;
    text-align: center;
}

.contact_information ul {
    display: flex;
    align-items: center;
    justify-content: end;
}

.contact_information ul li {
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.contact_information ul li a {
    display: inline-block;
    font-weight: 700;
}

.contact_information ul li img {
    display: inline-block;
    margin-right: 15px;
}

a.mobile-nav-link {
    display: none;
}

.mobile-nav {
    display: none;
}


/*.....main section.....*/
main {
    background-color: #222222;
    position: relative;
}

/*.....banner-section.....*/
.banner-section {
    display: block;
    padding-top: 100px;
    height: 100vh;
    min-height: 800px;
    overflow: hidden;
}

.banner-section::before {
    display: block;
    position: absolute;
    content: "";
    width: 70%;
    height: 100%;
    background-color: #222222;
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    left: 0;
    top: 0;
}

.banner-section::after {
    display: block;
    position: absolute;
    content: "";
    width: 30%;
    height: 100%;
    background-color: #ffb531;
    background-image: url('../images/background2.png');
    background-repeat: no-repeat;
    background-position: right center;
    right: 0;
    top: 0;
}

.banner-section>section {
    display: block;
}

.banner-section>hgroup {
    position: absolute;
    top: 30%;
    left: 100px;
}

.banner-section>hgroup>h4 {
    font-size: 50px;
    font-weight: lighter;
    color: white;
    margin: 20px;
}

.banner-section>hgroup>h2 {
    font-weight: bold;
    font-size: 80px;
    margin: 10px;
}

.banner-section>hgroup>h1 {
    font-weight: bold;
    font-size: 100px;
    margin: 10px;
}

.banner-section>img {
    position: absolute;
    bottom: 0;
    right: 120px;
    z-index: 8;
}

.social-link {
    display: block;
    position: absolute;
    bottom: 20px;
    right: 30px;
    z-index: 9;
}

.social-link a {
    display: block;
    margin: 5px;
}

/*.....about-me-section.....*/
.about-me-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px 0;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
}

.about-me-section>div {
    width: 44%;
}

.about-me-section>div>img {
    width: 100%;
    height: auto;
}

.about-me-section article {
    width: 50%;
}

.about-me-section article hgroup h5 {
    font-weight: 200;
    font-size: 25px;
    margin-bottom: 20px;
    color: #ffb531;
}

.about-me-section article hgroup h3 {
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 30px;
    color: white;
}

.about-me-section article p {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 30px;
    color: white;
}

.about-me-section section h5 {
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 5px;
    color: #ffb531;
}

.about-me-section article h5 {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
}

.about-me-section article .skills {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.about-me-section article .skills img {
    display: inline-block;
    margin-right: 12px;
}

.button-section {
    display: block;
}

a.button-1 {
    display: inline-block;
    padding: 10px 15px;
    background: #ffb531;
    vertical-align: middle;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    margin-right: 15px;
    box-shadow: 0 0 5px 1px #000;
}

a.button-1 img {
    display: inline-block;
    vertical-align: middle;
}

a.button-2 {
    display: inline-block;
    padding: 10px 15px;
    background: #393939;
    vertical-align: middle;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    margin-right: 15px;
    box-shadow: 0 0 5px 1px #000;
}

a.button-2 img {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}


/*.....service page.....*/
.services-section {
    display: block;
    padding: 150px 0;
    background-image: url('../images/bg_services.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.services-section .container {
    display: block;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
}

.services-section .container hgroup {
    display: block;
}

.services-section .container hgroup h5 {
    font-weight: 200;
    font-size: 24px;
    margin-bottom: 20px;
}

.services-section .container hgroup h3 {
    font-weight: 500;
    font-size: 50px;
    line-height: 52px;
    color: white;
}

.services-section .container>section {
    display: grid;
    width: 100%;
    align-self: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 80px;
}

.services-section .container>section>section {
    display: flex;
    align-items: center;
    height: 400px;
    background-color: #2C2C2C;
    border-radius: 30px;
}

.services-section .container>section>section>article {
    display: block;
    padding: 30px;
}

.services-section .container>section>section>article>img {
    display: block;
    margin-bottom: 50px;
}

.services-section .container>section>section>article>h4 {
    font-weight: 500;
    font-size: 25px;
    line-height: 27px;
    color: white;
    margin-bottom: 20px;
}

.services-section .container>section>section>article>p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
}

/*.....portfolio page.....*/
.portfolio-section {
    display: block;
    padding: 50px 0 100px 0;
}

.portfolio-section .container {
    display: block;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
}

.portfolio-section .container hgroup {
    display: block;
}

.portfolio-section .container hgroup h5 {
    font-weight: 200;
    font-size: 24px;
    margin-bottom: 20px;
}

.portfolio-section .container hgroup h3 {
    font-weight: 500;
    font-size: 50px;
    line-height: 52px;
    color: white;
}

.portfolio-section .container section {
    display: block;
    margin-top: 50px;
}

.portfolio-section .container section .tab-nav {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #565656;
    padding: 0;
}

.portfolio-section .container section .tab-nav>li {
    display: inline-block;
    padding: 7px 20px;
    border-bottom: 1px solid #565656;
    margin-bottom: -1px;
}

.portfolio-section .container section .tab-nav>li.active {
    border-bottom: 1px solid #ffb531;
}

.portfolio-section .container section .tab-nav li a {
    display: block;
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
}

.portfolio-section .container section .tab-container {
    display: block;
}

.portfolio-section .container section .tab-container .tab-item {
    display: none;
}

.portfolio-section .container section .tab-container .tab-item.active {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.portfolio-section .container section .tab-container .tab-item>img {
    display: inline-block;
    width: 50%;
    padding: 5px;
}

.portfolio-section .button-section {
    text-align: center;
    margin-top: 30px;
}


/*.....contact us .....*/
.contact-section {
    display: block;
    padding: 100px 0;
    background-color: #1E1E1E;
}

.contact-section .container {
    display: block;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
}

.contact-section .container hgroup {
    display: block;
    margin-bottom: 50px;
}

.contact-section .container hgroup h5 {
    font-weight: 200;
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-section .container hgroup h3 {
    font-weight: 500;
    font-size: 50px;
    line-height: 52px;
    color: white;
}

.contact-section .container>section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-section .container>section>form {
    width: 48%;
    border: none;
}

.contact-section .container>section>article {
    width: 48%;
}

.contact-section .container>section>form input {
    display: block;
    width: 100%;
    background: #393939;
    height: 50px;
    border: none;
    border-left: 2px solid red;
    margin-bottom: 20px;
    padding: 0 10px;
    color: #fff;
    font-size: 16px;
}

.contact-section .container>section>form textarea {
    display: block;
    width: 100%;
    background: #393939;
    height: 150px;
    border: none;
    margin-bottom: 20px;
    padding: 10px;
    color: #fff;
    font-size: 16px;
}

.contact-section .container>section>form button {
    display: inline-block;
    padding: 10px;
    width: 200px;
    text-align: center;
    background: #ffb531;
    vertical-align: middle;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    margin-right: 15px;
    box-shadow: 0 0 5px 1px #000;
}

.contact-section .container>section>article p {
    font-size: 16px;
    line-height: 25px;
    font-weight: 200;
    color: white;
    margin-bottom: 20px;
}

.contact-section .container>section>article .contact-link {
    display: block;
    margin-bottom: 15px;
    justify-content: center;
}

.contact-section .container>section>article .contact-link img {
    display: inline-block;
    margin-right: 15px;
    justify-content: center;
}

.contact-section .container>section>article .contact-link a {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
}

.contact-section .container>section>article .ft-social-links {
    display: block;
    margin-top: 30px;
}

.contact-section .container>section>article .ft-social-links img {
    margin-right: 20px;
}

/*..... Footer .....*/
footer {
    display: block;
    background-color: #ffb531;
    padding: 20px;
    text-align: center;
}


/*..... Education and Experience section  .....*/
.education-n-experience-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 200px 0 0 250px;
}

.education-n-experience-section>section>h3 {
    font-weight: 400;
    font-size: 40px;
    color: white;
    margin: 15px;
}

.education-n-experience-section>section>section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.education-n-experience-section>section>section>div {
    margin-top: 30px;
    margin-right: 100px;
    background-color: #282828;
}

.education-n-experience-section>section>section>div>hgroup>h4 {
    font-weight: lighter;
    font-size: 20px;
    color: white;
    margin: 10px;
}

.education-n-experience-section>section>section>div>hgroup>h5 {
    font-weight: lighter;
    font-size: 10px;
    color: white;
    margin: 10px;
}


/*..... Gallery section  .....*/
.gallery-section {
    display: block;
    padding: 0 250px 50px 250px;
}

.gallery-section>img {
    position: absolute;
    top: -200px;
    left: 0;
    right: 0;
    margin: auto;
}

.gallery-section>div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
}

/* Extra large devices - large desktops */
@media (max-width: 1499.98px) {
    .banner-section::before {
        width: 60%;
    }

    .banner-section::after {
        width: 40%;
    }

    .banner-section>img {
        bottom: -5%;
        right: 40px;
    }

    .banner-section>hgroup>h4 {
        font-size: 35px;
    }

    .banner-section>hgroup>h2 {
        font-size: 60px;
    }

    .banner-section>hgroup>h1 {
        font-size: 80px;
    }

    .about-me-section {
        padding: 150px 40px;
    }

    .services-section {
        padding: 0 40px 50px 40px;
    }

    .portfolio-section {
        padding: 50px 40px 100px 40px;
    }

    .contact-section {
        padding: 80px 40px;
    }

}

/* Large devices - desktops */
@media (max-width: 1199.98px) {
    header>nav {
        display: none;
    }

    a.mobile-nav-link {
        display: block;
        padding: 25px;
    }

    .contact_information ul li:nth-of-type(2) {
        display: none;
    }

    .banner-section>img {
        bottom: -5%;
        right: -170px;
    }

    .mobile-nav.show {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        background: #000000;
        width: 300px;
        justify-content: center;
        align-items: center;
    }

    .mobile-nav ul {
        padding: 0;
        text-align: center;
    }

    .mobile-nav ul li {
        display: block;
        padding: 15px;
    }

    .mobile-nav button {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        padding: 10px;
        width: 40px;
        height: 40px;
    }

    .mobile-nav button img {
        width: 100%;
    }

    .mobile-nav.show::before {
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        content: "";
        background-color: rgba(0 0 0 / 90%);
        left: 0;
        top: 0;
    }

    .about-me-section {
        padding: 70px 40px;
        flex-wrap: wrap;
    }

}


/* Medium devices - tablets */
@media (max-width: 991.98px) {
    .banner-section>img {
        bottom: 0;
        right: -70px;
        width: 600px;
        height: auto;
    }

    .banner-section {
        height: auto;
        min-height: 650px;
    }

    .banner-section>hgroup {
        left: 30px;
    }

    .banner-section>hgroup>h4 {
        font-size: 25px;
    }

    .banner-section>hgroup>h2 {
        font-size: 40px;
    }

    .banner-section>hgroup>h1 {
        font-size: 60px;
    }

    .about-me-section {
        justify-content: center;
    }

    .about-me-section>div {
        width: 70%;
        padding-bottom: 30px;
    }

    .about-me-section article {
        width: 100%;
    }

    .about-me-section article .skills img {
        width: 40px;
        height: auto;
    }

    .services-section .container>section>section>article>h4 {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 15px;
    }

    .services-section .container>section>section>article>img {
        width: 50px;
        height: auto;
        margin-bottom: 30px;
    }

    .services-section .container>section>section {
        height: 340px;
    }

}


/* Small devices - landscape phones */
@media (max-width: 767.98px) {
    .banner-section::after {
        width: 100%;
        height: 40%;
        top: auto;
        bottom: 0;
    }

    .banner-section::before {
        width: 100%;
        height: 60%;
    }

    .banner-section>img {
        right: -130px;
        width: 550px;
    }

    .social-link a img {
        width: 40px;
        height: 40px;
    }

    .social-link {
        right: auto;
        left: 20px;
    }

    div>ul>li>a {
        color: white;
    }

    .banner-section>hgroup {
        left: 20px;
        top: 15%;
    }

    .contact_information ul li img {
        -webkit-filter: invert(100%);
        filter: invert(100%);
    }

    .about-me-section>div {
        width: 70%;
        padding-bottom: 30px;
    }

    .about-me-section>div {
        display: none;
    }

    .about-me-section article hgroup h3 {
        font-size: 40px;
    }

    .services-section .container>section {
        display: block;
        margin-top: 40px;
    }

    .services-section .container>section>section {
        height: auto;
        width: 100%;
        margin-bottom: 20px;
    }

    .contact-section .container>section {
        flex-wrap: wrap;
    }

    .contact-section .container>section>form {
        width: 100%;
        margin-bottom: 40px;
    }

    .contact-section .container>section>article {
        width: 100%;
    }

    .contact-section .container>section>article .ft-social-links img {
        width: 40px;
        height: auto;
    }

}


/* Extra small devices - portrait phones */
@media (max-width: 575.98px) {
    .banner-section>img {
        right: -100px;
        width: 400px;
    }

    .banner-section>hgroup>h4 {
        font-size: 18px;
        font-weight: 400;
    }

    .banner-section>hgroup>h2 {
        font-size: 28px;
    }

    .banner-section>hgroup>h1 {
        font-size: 50px;
    }

    .button-section>a {
        width: 100%;
        margin: 7px 0;
        text-align: center;
    }

    .portfolio-section .container section .tab-container .tab-item>img {
        width: 100%;
    }

}